// 5. 댓글을 보여주는 table의 tbody에 추가해줌 ``(~에 있는 점)는 멀티라인을 지원한다.
$('.comment-list').prepend(`
  <tr>
    <td>${"<%= @comment.content %>"}</td>
    <td></td>
    <td><button class="btn btn-outline-danger"><i class="fas fa-trash fa-spin"></i>삭제</button></td>
  </tr>
`);
// 6. input 태그를 비워줌
$('#comment-input').val('');
